In [215]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import urllib.request
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector
## ANCHORUP
log_transformer=FunctionTransformer(func=np.log,inverse_func=np.exp,validate=False,check_inverse=False)
#validate has to be false for the nans to work, as does check_inverse
#Currently not being used

from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score

from IPython.display import Audio
def announce_when_done(target_file='https://www.myinstants.com/media/sounds/meme-de-creditos-finales.mp3'):
    '''
    place at the end of a notebook, this will play a file when done.  I have no idea how it adds to 
    notebook memory overhead.  Hopefully not much.
    '''
    return Audio(url=target_file,autoplay=True)
import missingno as msno

In [216]:
def find_overlaps(parent, child,stop_early=False,dataframe=wwdf):
    '''
    Reports if there is an element in "child" that is present in more than one "parent"
    
    "stop_early" returns at the first instance of an overlap, otherwise all overlapped-values are returned.
    '''
    check_list=dataframe.groupby(parent)[child].unique().apply(set).values.tolist()
    overlap_list=[]
    while len(check_list)>0:
        examine=check_list.pop()
        for s in examine:
            for g in check_list:
                if s in g:
                    if stop_early:
                        return f'First duplication found for {s}'
                    overlap_list.append(s)
    return set(overlap_list)
                
#way slower than it needs to be likely.
#useful for eda

In [217]:
ww=pd.read_csv(r'~\fis\tanzania_water\water_well.csv')
wt=pd.read_csv(r'~\fis\tanzania_water\water_well_target.csv')
wwdf=ww.merge(wt,on='id',validate='one_to_one') #checks to make sure we're good 

try:
    wwdf.set_index('id',inplace=True)
except:
    print('done')
    
#import both data sets, check that they work, set the indices to the id column

wwdf_raw=wwdf.copy()

In [218]:
#filling in elevation found via google maps api
try:
    wwdf['elevation']=wwdf['gps_height']
except:
    print(f'elevation setting went wrong, gps_height in columns is {"gps_height" in wwdf.columns}')

replacement_dfs=pd.read_csv('grabbed_alts_with_ids.csv',index_col=0)

wwdf.loc[replacement_dfs.index,'elevation']=replacement_dfs['elev']

#dropping the gps_height column
try:
    wwdf.drop(columns=['gps_height'],inplace=True)
except:
    print(f'something went wrong, gps_height in columns is {"gps_height" in wwdf.columns}')

In [219]:
try:
    wwdf.drop(columns='scheme_name')
except:
    print(f'elevation setting went wrong, gps_height in columns is {"scheme_name" in wwdf.columns}')
    
#Scheme name is hole-ridden and is at least partially captured by other columns, so is dropped

In [220]:
wwdf.loc[wwdf.construction_year==0,'construction_year']=np.nan
#0s are NaNs
wwdf['date_recorded']=wwdf['date_recorded'].apply(lambda d: int(d[-4:]) if type(d)==str else d)
#just extracting the year for date_recorded, conditional is present to guard against problems that emerge when re-running

In [221]:
try:
    wwdf['time_interval']=wwdf['date_recorded']-wwdf['construction_year']
    wwdf.drop(columns=['date_recorded','construction_year'],inplace=True)
except: 
    print(f'date recorded still in: {"date_recorded" in wwdf.columns}, construction year still in:  {"construction_year" in wwdf.columns}')
    
#Create time interval column -- later work may improve this

In [222]:
wwdf.public_meeting=wwdf.public_meeting.apply(lambda s: s if pd.isna(s) else (1 if s==True else 0 if s==False else s))
wwdf.permit=wwdf.permit.apply(lambda s: s if pd.isna(s) else (1 if s==True else 0 if s==False else s))
#Uglier sytnax to guard against re-running

In [223]:
for c in ['num_private','recorded_by','wpt_name']:
    try:     
        wwdf.drop(columns=[c],inplace=True)
    except:
        print(f'recorded_by still in: {"recorded_by" in wwdf.columns}, wpt_name still in:  {"wpt_name" in wwdf.columns}, num_private still in: {"num_private" in wwdf.columns}')

      #not useful columns

In [224]:
wwdf=wwdf.applymap(lambda s: s.upper() if type(s)==str else s)
#Crude protection by way of

In [229]:
try:
    amount_tsh_safeguard+=1
    print('did not run, protected')
except:
    amount_tsh_safeguard=0
if amount_tsh_safeguard==0:
    wwdf['amount_tsh']=wwdf['amount_tsh'].apply(lambda n: np.log(n+1))

#mapping amount tsh to log(n+1) (+1 to guard against the 0s), which is inside a conditional meant to protect it from being re-ran mindlessly

did not run, protected

In [230]:
wwdf['population']=wwdf['population'].apply(lambda x: np.nan if (x==0 or x==1) else x)
#Mapping nan values for population

In [231]:
wwdf['water_quality_character']=wwdf.water_quality.apply(lambda s: s.replace(' ABANDONED',''))
wwdf['water_quality_abandoned']=wwdf.water_quality.apply(lambda s: 1 if 'ABANDONED' in s else 0)

#Another way to look at water_quality

In [232]:
# Mostly ordered in terms of apparent quality, except for location
# columns that seem to be about roughly the same thing
# treating long&lat&elevation separate from other location stuff for syntactical reasons
# similarly, water_quality_character&water_quality_abandoned are not in here as they should be used together
exclusives=[['basin','subvillage','region','region_code','district_code','lga','ward'],
 ['scheme_management','scheme_name'],
 ['extraction_type_group','extraction_type_class','extraction_type'],
 ['management','management_group'],
 ['payment_type','payment'],
 ['water_quality','quality_group'],
 ['quantity','quantity_group'],
 ['source_class','source','source_type'],
 ['waterpoint_type','waterpoint_type_group']
]

be_wary=['population','installer','subvillage','lga']

notes='subvillage is large, lga is large'

### This is-- in principle-- a leaky method that's being used right now.  Should go back and try to make a non-leaky filling with KNN for lat&long,
### notice this will require going back and changing how elevation is handled
### It shouldn't *really* be leaky though, since we're not assuming some distribution *really*, each 
### location does have a specific area and that's what we're mapping from.  We could be **more** accurate with more data, but I don't think overfitting should really be possible like this.

In [233]:

subvillage_dict=wwdf.loc[(wwdf.latitude!=-2e-08) & (wwdf.longitude!=0)].groupby('subvillage')[['longitude','latitude']].mean().to_dict(orient='index')
ward_dict=wwdf.loc[(wwdf.latitude!=-2e-08) & (wwdf.longitude!=0)].groupby('ward')[['longitude','latitude']].mean().to_dict(orient='index')
lga_dict=wwdf.loc[(wwdf.latitude!=-2e-08) & (wwdf.longitude!=0)].groupby('lga')[['longitude','latitude']].mean().to_dict(orient='index')
region_code_dict=wwdf.loc[(wwdf.latitude!=-2e-08) & (wwdf.longitude!=0)].groupby('region_code')[['longitude','latitude']].mean().to_dict(orient='index')
def guess_latlong(row):
    try:
        lat=subvillage_dict[row['subvillage']]['latitude']
        long=subvillage_dict[row['subvillage']]['longitude']
        return(lat,long)
    except:
        
#         print('subvillage failed')
        pass
    try:
        lat=ward_dict[row['subvillage']]['latitude']
        long=ward_dict[row['ward']]['longitude']
        return(lat,long)
    except:
#         print('ward failed')
        pass
    try:
        lat=lga_dict[row['lga']]['latitude']
        long=lga_dict[row['lga']]['longitude']
        return(lat,long)
    except:
#         print('lgafailed')
        pass
    try:
        lat=region_code_dict[row['region_code']]['latitude']
        long=region_code_dict[row['region_code']]['longitude']
        return(lat,long)

    except:
        print(f'error for {row.name}')
        return(row.latitude,row.longitude)
print(guess_latlong(wwdf.loc[6091]))

(-2.962380523139534, 34.179475708779066)

In [234]:
bad_vals=wwdf.loc[(wwdf['longitude']==0) | ((wwdf['latitude']==-2e-08)),['latitude','longitude']]
display(bad_vals.head())
new_val_series=wwdf.loc[(wwdf['longitude']==0) | ((wwdf['latitude']==-2e-08))].apply(lambda r: guess_latlong(r),axis=1)
try:
    new_vals=pd.DataFrame([[LAT,LONG] for LAT,LONG in new_val_series],columns=['latitude','longitude'],index=bad_vals.index)
    wwdf.loc[(wwdf['longitude']==0) | ((wwdf['latitude']==-2e-08)),['latitude','longitude']]=new_vals
except: 
    print('might be done already')
display(new_vals.head(3))

print('checking latitude value counts now:')
print((wwdf.latitude.value_counts()).head(3))

           latitude  longitude
id
6091  -2.000000e-08        0.0
32376 -2.000000e-08        0.0
72678 -2.000000e-08        0.0
56725 -2.000000e-08        0.0
13042 -2.000000e-08        0.0

       latitude  longitude
id
6091  -2.962381  34.179476
32376 -2.359152  34.535098
72678 -2.962381  34.179476

checking latitude value counts now:
-2.962381    696
-2.620502    278
-2.568506    164
Name: latitude, dtype: int64

In [235]:
wwdf['extraction_type']=wwdf['extraction_type'].apply(lambda s: s.replace('OTHER - ',''))
#cleaning up the formatting

# Some time-intervals  are wrong, and are probably??? a result of an incorrect date_recorded, likely 2004 should be 2014?  Waiting for feedback from Alex though, for now just dropping them:

In [243]:
wwdf.loc[wwdf.time_interval<0,'time_interval']=np.nan

# One final look-over before exporting the data:

In [246]:
for c in wwdf:
    print(f'{c}: missing values: {wwdf[c].isna().sum()}\nunique values:{wwdf[c].nunique()}')
    display(wwdf[c].value_counts(normalize=True,dropna=False))
    print('---'*10)

amount_tsh: missing values: 0
unique values:98

0.0         0.700993
500.0       0.052222
50.0        0.041616
1000.0      0.025051
20.0        0.024630
              ...
8500.0      0.000017
6300.0      0.000017
220.0       0.000017
138000.0    0.000017
12.0        0.000017
Name: amount_tsh, Length: 98, dtype: float64

------------------------------
funder: missing values: 3635
unique values:1897

GOVERNMENT OF TANZANIA    0.152929
NaN                       0.061195
DANIDA                    0.052424
HESAWA                    0.037071
RWSSP                     0.023131
                            ...
KAHEMA                    0.000017
MISRI GOVERNMENT          0.000017
MSIKITINI                 0.000017
MAKAPUCHINI               0.000017
MATATA SELEMANI           0.000017
Name: funder, Length: 1898, dtype: float64

------------------------------
installer: missing values: 3655
unique values:1935

DWE                         0.293013
NaN                         0.061532
GOVERNMENT                  0.031835
HESAWA                      0.023485
RWE                         0.020303
                              ...
DAR ES SALAAM TECHNICIAN    0.000017
UPENDO GROUP                0.000017
AGRICAN                     0.000017
CHACHA ISSAME               0.000017
FAUSTINE                    0.000017
Name: installer, Length: 1936, dtype: float64

------------------------------
longitude: missing values: 0
unique values:57706

34.179476    0.011717
33.091564    0.004680
33.282024    0.002761
35.800014    0.001229
34.163082    0.000337
               ...
31.155207    0.000017
38.905254    0.000017
39.125162    0.000017
36.694695    0.000017
35.005922    0.000017
Name: longitude, Length: 57706, dtype: float64

------------------------------
latitude: missing values: 0
unique values:57707

-2.962381    0.011717
-2.620502    0.004680
-2.568506    0.002761
-4.653235    0.001229
-7.117099    0.000337
               ...
-3.487229    0.000017
-4.759079    0.000017
-7.832852    0.000017
-3.238303    0.000017
-2.598965    0.000017
Name: latitude, Length: 57707, dtype: float64

------------------------------
basin: missing values: 0
unique values:9

LAKE VICTORIA              0.172525
PANGANI                    0.150505
RUFIJI                     0.134276
INTERNAL                   0.131061
LAKE TANGANYIKA            0.108283
WAMI / RUVU                0.100791
LAKE NYASA                 0.085606
RUVUMA / SOUTHERN COAST    0.075640
LAKE RUKWA                 0.041313
Name: basin, dtype: float64

------------------------------
subvillage: missing values: 371
unique values:19287

MADUKANI      0.008552
SHULENI       0.008519
MAJENGO       0.008451
KATI          0.006279
NaN           0.006246
                ...
KIGURUKA      0.000017
MWAMBOKU      0.000017
KINYIWANDA    0.000017
NSING'OLE     0.000017
MAKIWA        0.000017
Name: subvillage, Length: 19288, dtype: float64

------------------------------
region: missing values: 0
unique values:21

IRINGA           0.089125
SHINYANGA        0.083872
MBEYA            0.078098
KILIMANJARO      0.073721
MOROGORO         0.067441
ARUSHA           0.056397
KAGERA           0.055825
MWANZA           0.052222
KIGOMA           0.047407
RUVUMA           0.044444
PWANI            0.044360
TANGA            0.042879
DODOMA           0.037054
SINGIDA          0.035236
MARA             0.033148
TABORA           0.032980
RUKWA            0.030438
MTWARA           0.029125
MANYARA          0.026650
LINDI            0.026027
DAR ES SALAAM    0.013552
Name: region, dtype: float64

------------------------------
region_code: missing values: 0
unique values:27

11    0.089226
17    0.084360
12    0.078098
3     0.073721
5     0.068013
18    0.055960
19    0.051296
2     0.050909
16    0.047407
10    0.044444
4     0.042306
1     0.037054
13    0.035236
14    0.033316
20    0.033148
15    0.030438
6     0.027088
21    0.026650
80    0.020842
60    0.017256
90    0.015438
7     0.013552
99    0.007121
9     0.006566
24    0.005488
8     0.005051
40    0.000017
Name: region_code, dtype: float64

------------------------------
district_code: missing values: 0
unique values:20

1     0.205438
2     0.188098
3     0.168316
4     0.151498
5     0.073333
6     0.068586
7     0.056279
8     0.017559
30    0.016751
33    0.014714
53    0.012542
43    0.008502
13    0.006582
23    0.004933
63    0.003283
62    0.001835
60    0.001061
0     0.000387
80    0.000202
67    0.000101
Name: district_code, dtype: float64

------------------------------
lga: missing values: 0
unique values:125

NJOMBE          0.042138
ARUSHA RURAL    0.021077
MOSHI RURAL     0.021061
BARIADI         0.019815
RUNGWE          0.018620
                  ...
MOSHI URBAN     0.001330
KIGOMA URBAN    0.001195
ARUSHA URBAN    0.001061
LINDI URBAN     0.000354
NYAMAGANA       0.000017
Name: lga, Length: 125, dtype: float64

------------------------------
ward: missing values: 0
unique values:2092

IGOSI               0.005168
IMALINYI            0.004242
SIHA KATI           0.003906
MDANDU              0.003889
NDURUMA             0.003653
                      ...
MWANGA KASKAZINI    0.000017
KIRONGO             0.000017
KORONGONI           0.000017
IZIA                0.000017
MITOLE              0.000017
Name: ward, Length: 2092, dtype: float64

------------------------------
population: missing values: 28406
unique values:1047

NaN       0.478215
200.0     0.032660
150.0     0.031852
250.0     0.028300
300.0     0.024848
            ...
491.0     0.000017
807.0     0.000017
948.0     0.000017
1410.0    0.000017
419.0     0.000017
Name: population, Length: 1048, dtype: float64

------------------------------
public_meeting: missing values: 3334
unique values:2

1.0    0.858771
0.0    0.085101
NaN    0.056128
Name: public_meeting, dtype: float64

------------------------------
scheme_management: missing values: 3877
unique values:12

VWC                 0.619411
WUG                 0.087643
NaN                 0.065269
WATER AUTHORITY     0.053081
WUA                 0.048535
WATER BOARD         0.046263
PARASTATAL          0.028283
PRIVATE OPERATOR    0.017896
COMPANY             0.017862
OTHER               0.012896
SWC                 0.001633
TRUST               0.001212
NONE                0.000017
Name: scheme_management, dtype: float64

------------------------------
scheme_name: missing values: 28166
unique values:2576

NaN                       0.474175
K                         0.011532
NONE                      0.011263
BOREHOLE                  0.009192
CHALINZE WATE             0.006835
                            ...
LWAMGASA                  0.000017
MAHUNGURU WATER SUPPLY    0.000017
ARASHI WATER SCHEME       0.000017
QUICK WINDS               0.000017
SHIRIMATUNDA              0.000017
Name: scheme_name, Length: 2577, dtype: float64

------------------------------
permit: missing values: 3056
unique values:2

1.0    0.654074
0.0    0.294478
NaN    0.051448
Name: permit, dtype: float64

------------------------------
extraction_type: missing values: 0
unique values:18

GRAVITY              0.450842
NIRA/TANIRA          0.137273
OTHER                0.108249
SUBMERSIBLE          0.080202
SWN 80               0.061785
MONO                 0.048232
INDIA MARK II        0.040404
AFRIDEV              0.029798
KSB                  0.023822
ROPE PUMP            0.007593
SWN 81               0.003855
WINDMILL             0.001970
INDIA MARK III       0.001650
CEMO                 0.001515
PLAY PUMP            0.001431
WALIMI               0.000808
CLIMAX               0.000539
MKULIMA/SHINYANGA    0.000034
Name: extraction_type, dtype: float64

------------------------------
extraction_type_group: missing values: 0
unique values:13

GRAVITY            0.450842
NIRA/TANIRA        0.137273
OTHER              0.108249
SUBMERSIBLE        0.104024
SWN 80             0.061785
MONO               0.048232
INDIA MARK II      0.040404
AFRIDEV            0.029798
ROPE PUMP          0.007593
OTHER HANDPUMP     0.006128
OTHER MOTORPUMP    0.002054
WIND-POWERED       0.001970
INDIA MARK III     0.001650
Name: extraction_type_group, dtype: float64

------------------------------
extraction_type_class: missing values: 0
unique values:7

GRAVITY         0.450842
HANDPUMP        0.277037
OTHER           0.108249
SUBMERSIBLE     0.104024
MOTORPUMP       0.050286
ROPE PUMP       0.007593
WIND-POWERED    0.001970
Name: extraction_type_class, dtype: float64

------------------------------
management: missing values: 0
unique values:12

VWC                 0.681936
WUG                 0.109680
WATER BOARD         0.049377
WUA                 0.042677
PRIVATE OPERATOR    0.033182
PARASTATAL          0.029764
WATER AUTHORITY     0.015219
OTHER               0.014209
COMPANY             0.011532
UNKNOWN             0.009444
OTHER - SCHOOL      0.001667
TRUST               0.001313
Name: management, dtype: float64

------------------------------
management_group: missing values: 0
unique values:5

USER-GROUP    0.883670
COMMERCIAL    0.061246
PARASTATAL    0.029764
OTHER         0.015875
UNKNOWN       0.009444
Name: management_group, dtype: float64

------------------------------
payment: missing values: 0
unique values:7

NEVER PAY                0.426734
PAY PER BUCKET           0.151263
PAY MONTHLY              0.139731
UNKNOWN                  0.137323
PAY WHEN SCHEME FAILS    0.065892
PAY ANNUALLY             0.061313
OTHER                    0.017744
Name: payment, dtype: float64

------------------------------
payment_type: missing values: 0
unique values:7

NEVER PAY     0.426734
PER BUCKET    0.151263
MONTHLY       0.139731
UNKNOWN       0.137323
ON FAILURE    0.065892
ANNUALLY      0.061313
OTHER         0.017744
Name: payment_type, dtype: float64

------------------------------
water_quality: missing values: 0
unique values:8

SOFT                  0.855522
SALTY                 0.081751
UNKNOWN               0.031582
MILKY                 0.013535
COLOURED              0.008249
SALTY ABANDONED       0.005707
FLUORIDE              0.003367
FLUORIDE ABANDONED    0.000286
Name: water_quality, dtype: float64

------------------------------
quality_group: missing values: 0
unique values:6

GOOD        0.855522
SALTY       0.087458
UNKNOWN     0.031582
MILKY       0.013535
COLORED     0.008249
FLUORIDE    0.003653
Name: quality_group, dtype: float64

------------------------------
quantity: missing values: 0
unique values:5

ENOUGH          0.558687
INSUFFICIENT    0.254697
DRY             0.105152
SEASONAL        0.068182
UNKNOWN         0.013283
Name: quantity, dtype: float64

------------------------------
quantity_group: missing values: 0
unique values:5

ENOUGH          0.558687
INSUFFICIENT    0.254697
DRY             0.105152
SEASONAL        0.068182
UNKNOWN         0.013283
Name: quantity_group, dtype: float64

------------------------------
source: missing values: 0
unique values:10

SPRING                  0.286549
SHALLOW WELL            0.283232
MACHINE DBH             0.186448
RIVER                   0.161818
RAINWATER HARVESTING    0.038636
HAND DTW                0.014714
LAKE                    0.012879
DAM                     0.011044
OTHER                   0.003569
UNKNOWN                 0.001111
Name: source, dtype: float64

------------------------------
source_type: missing values: 0
unique values:7

SPRING                  0.286549
SHALLOW WELL            0.283232
BOREHOLE                0.201162
RIVER/LAKE              0.174697
RAINWATER HARVESTING    0.038636
DAM                     0.011044
OTHER                   0.004680
Name: source_type, dtype: float64

------------------------------
source_class: missing values: 0
unique values:3

GROUNDWATER    0.770943
SURFACE        0.224377
UNKNOWN        0.004680
Name: source_class, dtype: float64

------------------------------
waterpoint_type: missing values: 0
unique values:7

COMMUNAL STANDPIPE             0.480168
HAND PUMP                      0.294411
OTHER                          0.107407
COMMUNAL STANDPIPE MULTIPLE    0.102744
IMPROVED SPRING                0.013199
CATTLE TROUGH                  0.001953
DAM                            0.000118
Name: waterpoint_type, dtype: float64

------------------------------
waterpoint_type_group: missing values: 0
unique values:6

COMMUNAL STANDPIPE    0.582912
HAND PUMP             0.294411
OTHER                 0.107407
IMPROVED SPRING       0.013199
CATTLE TROUGH         0.001953
DAM                   0.000118
Name: waterpoint_type_group, dtype: float64

------------------------------
status_group: missing values: 0
unique values:3

FUNCTIONAL                 0.543081
NON FUNCTIONAL             0.384242
FUNCTIONAL NEEDS REPAIR    0.072677
Name: status_group, dtype: float64

------------------------------
elevation: missing values: 0
unique values:20691

 1347.148193    0.011751
 1194.566162    0.004680
 1140.341553    0.002761
 1667.332275    0.001229
-15.000000      0.001010
                  ...
 1225.338013    0.000017
 1230.672363    0.000017
 995.706848     0.000017
 1230.680664    0.000017
 1213.228027    0.000017
Name: elevation, Length: 20691, dtype: float64

------------------------------
time_interval: missing values: 20718
unique values:54

NaN     0.348788
3.0     0.046128
1.0     0.038771
2.0     0.035842
5.0     0.033333
4.0     0.031818
13.0    0.031465
7.0     0.023636
6.0     0.023249
11.0    0.022761
8.0     0.019529
14.0    0.019529
33.0    0.018855
15.0    0.016717
23.0    0.015236
10.0    0.014613
16.0    0.013906
9.0     0.013704
19.0    0.012896
27.0    0.012828
18.0    0.012694
31.0    0.011936
28.0    0.011936
35.0    0.010892
17.0    0.010707
39.0    0.010118
37.0    0.010101
26.0    0.009916
0.0     0.009899
25.0    0.009815
21.0    0.009731
29.0    0.009495
12.0    0.009411
20.0    0.009108
41.0    0.008215
30.0    0.006044
43.0    0.005993
38.0    0.005909
36.0    0.005471
22.0    0.005438
24.0    0.004394
40.0    0.003923
34.0    0.003098
32.0    0.002929
53.0    0.001532
42.0    0.001515
50.0    0.001414
45.0    0.001111
46.0    0.000808
44.0    0.000791
48.0    0.000690
51.0    0.000522
49.0    0.000421
47.0    0.000236
52.0    0.000185
Name: time_interval, dtype: float64

------------------------------
water_quality_character: missing values: 0
unique values:6

SOFT        0.855522
SALTY       0.087458
UNKNOWN     0.031582
MILKY       0.013535
COLOURED    0.008249
FLUORIDE    0.003653
Name: water_quality_character, dtype: float64

------------------------------
water_quality_abandoned: missing values: 0
unique values:2

0    0.994007
1    0.005993
Name: water_quality_abandoned, dtype: float64

------------------------------

In [249]:
wwdf.to_csv('cleaned_data_072920_shaw.csv')

In [250]:
pd.read_csv('cleaned_data_072920_shaw.csv')

,id,amount_tsh,funder,installer,longitude,latitude,basin,subvillage,region,region_code,...,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,elevation,time_interval,water_quality_character,water_quality_abandoned
0,69572,6000.0,ROMAN,ROMAN,34.938093,-9.856322,LAKE NYASA,MNYUSI B,IRINGA,11,...,SPRING,SPRING,GROUNDWATER,COMMUNAL STANDPIPE,COMMUNAL STANDPIPE,FUNCTIONAL,1390.000000,12.0,SOFT,0
1,8776,0.0,GRUMETI,GRUMETI,34.698766,-2.147466,LAKE VICTORIA,NYAMARA,MARA,20,...,RAINWATER HARVESTING,RAINWATER HARVESTING,SURFACE,COMMUNAL STANDPIPE,COMMUNAL STANDPIPE,FUNCTIONAL,1399.000000,3.0,SOFT,0
2,34310,25.0,LOTTERY CLUB,WORLD VISION,37.460664,-3.821329,PANGANI,MAJENGO,MANYARA,21,...,DAM,DAM,SURFACE,COMMUNAL STANDPIPE MULTIPLE,COMMUNAL STANDPIPE,FUNCTIONAL,686.000000,4.0,SOFT,0
3,67743,0.0,UNICEF,UNICEF,38.486161,-11.155298,RUVUMA / SOUTHERN COAST,MAHAKAMANI,MTWARA,90,...,MACHINE DBH,BOREHOLE,GROUNDWATER,COMMUNAL STANDPIPE MULTIPLE,COMMUNAL STANDPIPE,NON FUNCTIONAL,263.000000,27.0,SOFT,0
4,19728,0.0,ACTION IN A,ARTISAN,31.130847,-1.825359,LAKE VICTORIA,KYANYAMISA,KAGERA,18,...,RAINWATER HARVESTING,RAINWATER HARVESTING,SURFACE,COMMUNAL STANDPIPE,COMMUNAL STANDPIPE,FUNCTIONAL,1671.699341,NaN,SOFT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,GERMANY REPUBLI,CES,37.169807,-3.253847,PANGANI,KIDURUNI,KILIMANJARO,3,...,SPRING,SPRING,GROUNDWATER,COMMUNAL STANDPIPE,COMMUNAL STANDPIPE,FUNCTIONAL,1210.000000,14.0,SOFT,0
59396,27263,4700.0,CEFA-NJOMBE,CEFA,35.249991,-9.070629,RUFIJI,IGUMBILO,IRINGA,11,...,RIVER,RIVER/LAKE,SURFACE,COMMUNAL STANDPIPE,COMMUNAL STANDPIPE,FUNCTIONAL,1212.000000,15.0,SOFT,0
59397,37057,0.0,NaN,NaN,34.017087,-8.750434,RUFIJI,MADUNGULU,MBEYA,12,...,MACHINE DBH,BOREHOLE,GROUNDWATER,HAND PUMP,HAND PUMP,FUNCTIONAL,1069.052612,NaN,FLUORIDE,0
59398,31282,0.0,MALEC,MUSA,35.861315,-6.378573,RUFIJI,MWINYI,DODOMA,1,...,SHALLOW WELL,SHALLOW WELL,GROUNDWATER,HAND PUMP,HAND PUMP,FUNCTIONAL,1053.703613,NaN,SOFT,0
59399,26348,0.0,WORLD BANK,WORLD,38.104048,-6.747464,WAMI / RUVU,KIKATANYEMBA,MOROGORO,5,...,SHALLOW WELL,SHALLOW WELL,GROUNDWATER,HAND PUMP,HAND PUMP,FUNCTIONAL,191.000000,9.0,SALTY,0